# Database
*.db
*.sqlite3
instance/
database.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.flaskenv

# IDEs
.idea/
.vscode/

# Logs
*.log
